<!DOCTYPE html>
	<html> 
		<head> 
            <link rel="stylesheet" href="/css/bootstrap.min.css"/>
            <link rel="stylesheet" type="text/css" href="/css/account.css"/>
            <script src ="/js/jquery-1.11.1.min.js"> </script>
            <script src ="/js/bootstrap.min.js"> </script>
		</head>
		<body>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <h1>rateverything</h1>
                        <h3>Your Account</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="account-exit">
                            <p>Hello:</p>
                            <div class="btn-group">
                                <a href="/top" class="btn btn-default" id="account_button">Home</a>
                                <a href="{{logout_url}}" class="btn btn-default">Logout</a>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3> Profile </h3> 
                        <button id="answer_submit_button" type="button" class="btn btn-primary">Edit </button>
                            <h5>First Name: </h5>
                            <h5>Last Name: </h5>
                            <h5>ID: </h5>
                            <h5>Email Address: </h5>
                            <h5>About Me: </h5> 
                            <h5>Questions Published</h5>
                            <h5> Answers Published </h5>
                       

                        <!--
                        <div class="btn-group">
                        {% if question_filter == "top" %}
                            <a href="/profile" class="btn btn-default btn-primary">Top Answered</a>
                        {% else %}
                            <a href="/top" class="btn btn-default">Top Answered</a>
                        {% endif %}
                        {% if question_filter == "new" %}
                            <a href="/new" class="btn btn-default btn-primary">Newest</a>
                        {% else%}
                            <a href="/new" class="btn btn-default">Newest</a>
                        {% endif %}
                        {% if question_filter == "me" %}
                            <a href="/me" class="btn btn-default btn-primary">My Questions</a>
                        {%else%}
                            <a href="/me" class="btn btn-default">My Questions</a>
                        {% endif %}
                        {% if question_filter == "draft" %}
                            <a href="/draft" class="btn btn-default btn-primary">My Drafts</a>
                        {% else%}
                            <a href="/draft" class="btn btn-default">My Draft</a>
                        {% endif %}
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Actions</th>
                            
                            </tr>
                        </thead>
                        <tbody id="question_list">
                            {% for question in questions %}
                            <tr>
                            <td>{{question.text}}</td>
                            <td data-id="{{question.key.id()}}" data-value="{{question.text}}" data-published ="{{question.published|lower}}" data-has-voted="{{question.has_voted|lower}}">
                                <button type="button" class="question_select btn btn-default ">Select</button>
                                <button type="button" class="question_delete btn btn-danger">Delete</button>
                            </td>
                        </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    <div class="question_create">
                        <h3> Create a New Question </h3> 
                        <input id="question_input" type="text" class="form-control" placeholder="New Question Here">
                        <button id="question_submit_button" type="button" class="btn btn-primary">Submit</button>
                    </div>
            </div>
        -->         </div>
                    <div class="col-md-8">
                            <h2>Enter Your Details</h2>
                            <form class="answer" role="form">
                            <h4>Create new answer</h4>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> First Name</label>
                                <input id="submit_answer_text"type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Answer">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Last Name</label>
                                <input id="submit_answer_text"type="email" class="form-control" id="exampleInputEmail1" placeholder="Your Answer">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"> Tell us about yourself</label>
                                <textarea id="submit_comment"class="form-control" rows="3"></textarea>
                            </div>
                            <button id="answer_submit_button" type="button" class="btn btn-primary">Submit</button>
                        </form>

                    <tbody id="answer_list">
                   
                    </tbody>

                </table>

            </div>
        </div>
    </div>

    
		</body>
	</html>