/*
p {
	color: red;

}

div {
	background-color: red;
	width: 50px;
	height : 50px;

}
*/

form.answer {
	width: 70%;
}

table.answers{
	width: 70%;
}

div.account-menu {
	margin-top: 20px;
	float: right;
}

blockquote.question {
	float: left;
}

button#publish_question {
	float: right;
}

form.answer h4 {
	clear: both;
}

div.question_create {
	margin-bottom: 20px;
}
button.vote_btn {

}